<template>
<div class="rounded-sm flex bg-gradient-to-r from-green-400 to-blue-500 justify-center items-center h-screen flex-col">
    <div class="main-form bg-gray-100 shadow-md rounded-md p-5">
        <div class="form-notice text-center text-gray-800 m-4">
            <p class="text-4xl font-bold">Create account</p>
            <p class="text-sm">Already have an account? <a href="#" class="text-blue-500">Sign in</a></p>
        </div>
        <form @submit.prevent="submit" autocomplete="off">
            <div class="username mb-3">
                <input type="text" v-model="v$.form.username.$model" class="w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-purple-500 " id="usernameInput" placeholder="Username">
                <!-- Username Error Message -->
                <div class="input-errors" v-for="(error, index) of v$.form.username.$errors" :key="index">
                    <div class="error-msg text-red-500 text-sm ">{{ error.$message }}</div>
                </div>
            </div>
            <div class="userFullname mb-3 flex flex-row space-x-4 ">
                <!-- Firstname Error Message -->
                <input type="text" id="userfirstname" v-model="v$.form.user_first_name.$model" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-purple-500 flex " placeholder="First name">
                <input type="text" id="userlastname" v-model="v$.form.user_last_name.$model" class="flex shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-purple-500" placeholder="Last name">
            </div>
                <div class="input-errors flex-col mb-3" v-for="(error, index) of v$.form.user_first_name.$errors" :key="index">
                    <div class="error-msg text-red-500 text-sm ">{{ error.$message }}</div>
                </div>

            <div class="userEmail mb-3">
                <input type="email" id="userEmail" v-model="v$.form.user_email.$model" class="w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-purple-500" placeholder="E-mail">

                <!-- Email Error Message -->
                <div class="input-errors" v-for="(error, index) of v$.form.user_email.$errors" :key="index">
                    <div class="error-msg text-red-500 text-sm ">{{ error.$message }}</div>
                </div>

            </div>
            <div class="userPassword mb-3 flex-col">
                <!-- Password Error Message -->
                <div class="input-errors" v-for="(error, index) of v$.form.user_password.$errors" :key="index">
                    <div class="error-msg text-red-500 text-sm ">{{ error.$message }}</div>
                </div>
                <input type="password" id="userpassword" v-model="v$.form.user_password.$model" class="w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3 focus:border-purple-500" placeholder="Enter password">
                
                <input type="password" id="userRepeatedPassword" v-model="v$.form.user_repeated_password.$model" placeholder="Repeat password" class="w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-purple-500">
            </div>

            <button type="submit" @click="submitForm()" class="disabled:opacity-50 w-full bg-blue-500 text-gray-100 rounded-md shadow-md py-2 px-3 mb-4" :disabled="v$.form.$invalid">Sign up</button>

            <div class="terms mb-3">
                <input type="checkbox" id="userCheckbox" class="mr-2 leading-tight " v-model="agreed_to_terms" required> 
                <span class="text-sm text-gray-800">I have read and agreed to the <a href="#" class="text-blue-500">terms of service</a></span>
            </div>
        </form>
    </div>
</div>

</template>

<script>
import useVuelidate from '@vuelidate/core'
import { required, email, minLength}  from "@vuelidate/validators";

export function validName(name) {
  let validNamePattern = new RegExp("^[a-zA-Z]+(?:[-'\\s][a-zA-Z]+)*$");
  if (validNamePattern.test(name)){
    return true;
  }
  return false;
}


export default {
    setup(){
        return {v$: useVuelidate()}
    },
    methods:
    {
        submitForm(){
            alert('Form successfully submitted');
            console.log(this.form)
        }
    },
    data(){
        return{
            form:{
                username:'',
                user_first_name : '',
                user_last_name : '',
                user_email : '',
                user_password : '',
                user_repeated_password:'',
                agreed_to_terms : false,
            }
        }
    },
    validations(){
        return{
            form:{
                username:{
                    required,
                },
                user_first_name:{
                    required,
                    name_validation:{
                        $validator : validName,
                        $message: 'Invalid Name. Valid name only contain letters, dashes (-) and spaces',
                    }
                },
                user_last_name:{
                    required,
                    name_validation:{
                        $validatior : validName,
                        $message: 'Invalid Name. Valid name only contain letters, dashes (-) and spaces',
                    }
                },
                user_email:{
                    required,
                    email,
                },
                user_password:{
                    required,
                    min: minLength(6),
                },
                user_repeated_password:{
                    required,
                }
            }
        }
    },

}

</script>

<style>

</style>