<template>
<signup-form/>
</template>

<script>

import SignupForm from './components/SignupForm.vue';

export default {
  name: 'App',
  components: {
    SignupForm
  }
}
</script>

<style>
</style>
